body {
  margin: 0%;
  padding: 0%;
}
.features {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00aa66;
}

.feature-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}

.feature-card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
  max-width: 300px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}